@use "config";

#root {
  display: grid;
  gap: 50px;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  padding-top: 45px;
  @media screen and (max-width: config.$breakpoint-mobile) {
    padding-top: 20px;
  }
}
