@use "config";

.collapse {
    width: 1023px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: all ease 0.3s;
    // height defined in a styled Component
    @media screen {
        min-height: 30px;
    }
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #FFFFFF;
        background-color: config.$color-primary;
        line-height: 50px;
        border-radius: 5px;
        padding: 0 20px;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        @media screen and (max-width: config.$breakpoint-mobile) {
            font-size: 13px;
            line-height: 30px;
        }
        &__icon {
            width: 24px;
            transition: transform ease 0.3s;
            cursor: pointer;
            &--deployed {
                transform: rotate(-180deg);
            }
            @media screen and (max-width: config.$breakpoint-mobile) {
                width: 13px;
            }
        }
        &--small-title {
            font-size: 18px;
        }
    }
    &__content-wrapper {
        background-color: config.$color-light-bg;
        padding: 20px 20px 20px 20px;
        transition: all ease 0.2s;
        &__element {
            font-size: 18px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            @media screen and (max-width: config.$breakpoint-mobile) {
                font-size: 12px;
            }
        }
    }
}