@use "config";


.footer {
  height: 209px;
  background-color: #000000;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  &__logo {
    margin: 0 auto;
    height: 40px;
    align-self: flex-end;
  }
  &__copyright {
    text-align: center;
    align-self: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0 120px;
    @media screen and (max-width: config.$breakpoint-mobile) {
      font-size: 12px;
      width: 110px;
      margin: 0 auto;
    }
  }
}