@use "config";

.home {
    &__card-wrapper {
        border-radius: 25px;
        padding: 50px;
        gap: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: config.$color-light-bg;
    }
}