@use "config";

.host {
    display: grid;
    grid-template-columns: repeat(2,min-content);
    align-items: center;
    gap: 10px;
    &__name {
        text-align: right;
        color: config.$color-primary;
        line-height: 26px;
        @media screen and (max-width: config.$breakpoint-mobile) {
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__picture {
        height: 64px;
        width: 64px;
        object-fit: cover;
        border-radius: 50%;
        @media screen and (max-width: config.$breakpoint-mobile) {
            height: 32px;
            width: 32px;
        }
    }
}