@use "config";

.tag {
    display: inline-block;
    border-radius: 10px;
    line-height: 25px;
    background-color: config.$color-primary;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    min-width: 115px;
    padding: 0 10px;
    @media screen and (max-width: config.$breakpoint-mobile) {
        font-size: 10px;
        line-height: 18px;
        min-width: 84px;
    }
}